In [2]:
import pandas as pd

df = pd.read_csv("finalout.csv", sep=' ', dtype=str)

In [3]:
df.head()
df['dash'] = '-'
df['space'] = ' '

In [4]:
df['arrival'] = df['Ayear']+df['dash']+df['Amonth']+df['dash']+df['Aday']+df['space']+df['Atime']
df['closure'] = df['Cyear']+df['dash']+df['Cmonth']+df['dash']+df['Cday']+df['space']+df['Ctime']
df.arrival = pd.to_datetime(df.arrival)
df.closure = pd.to_datetime(df.closure)
df.head()

,Amonth,Aday,Ayear,Atime,Aperiod,Cmonth,Cday,Cyear,Ctime,Cperiod,post,dash,space,arrival,closure
0,07,20,2020,10:51:12,AM,09,05,2020,12:32:48,PM,11234,-,,2020-07-20 10:51:12,2020-09-05 12:32:48
1,07,21,2020,02:13:58,PM,09,05,2020,01:37:31,PM,11210,-,,2020-07-21 02:13:58,2020-09-05 01:37:31
2,07,27,2020,12:56:33,PM,09,05,2020,08:51:14,AM,11354,-,,2020-07-27 12:56:33,2020-09-05 08:51:14
3,06,22,2020,06:17:00,PM,06,23,2020,08:59:00,AM,10451,-,,2020-06-22 06:17:00,2020-06-23 08:59:00
4,06,21,2020,03:30:00,AM,06,22,2020,09:50:00,PM,10031,-,,2020-06-21 03:30:00,2020-06-22 09:50:00

In [5]:
df['time'] = (df.closure-df.arrival).astype('timedelta64[h]')

In [6]:
df1 = df[['time','post', 'Amonth']]
df1.head()

     time   post Amonth
0  1129.0  11234     07
1  1103.0  11210     07
2   955.0  11354     07
3    26.0  10451     06
4    30.0  10031     06

In [7]:
df1 = df1[df1.post != "00083"]
df1 = df1[df1.post != "11695"]
df1 = df1[df1.post != "12345"]

In [8]:
table = pd.pivot_table(df1, index='post',columns='Amonth', values='time')
table

Amonth,01,02,03,04,05,06,07,08,09
post,,,,,,,,,
10000,105.400000,77.625000,12.250000,0.882979,7.000000,31.405063,48.151515,69.333333,29.111111
10001,198.635628,261.988053,143.764554,59.202206,58.224113,56.977515,49.522298,51.832797,19.638398
10002,156.359050,156.743802,149.262400,90.843322,56.074366,63.103565,74.564297,56.208308,23.099083
10003,177.885830,191.254494,208.278320,82.000000,60.478221,88.152030,117.772344,80.605157,31.711249
10004,59.607143,117.920455,176.053097,143.873418,35.893617,55.828402,100.820359,84.131250,40.733871
...,...,...,...,...,...,...,...,...,...
11691,178.266904,144.762570,307.715840,224.290881,190.899306,123.887540,142.324698,139.989314,28.492470
11692,107.806324,138.621212,192.109170,153.354839,251.171171,248.719008,191.329694,138.636111,47.157303
11693,106.215686,147.120301,230.521053,178.549738,56.646586,98.511848,66.510791,49.291954,13.675781
11694,176.956772,188.952532,169.635193,113.412281,67.133333,55.219794,70.173611,66.898890,13.805000
11697,482.750000,0.500000,18.000000,98.172414,114.555556,132.558824,72.314815,105.208333,30.000000

In [28]:
y = [table['01'].sum(), table['02'].sum(), table['03'].sum(), table['04'].sum(), table['05'].sum(), table['06'].sum(), table['07'].sum(), table['08'].sum(), table['09'].sum()]
y

[36205.18692627955,
 43604.48971775171,
 45545.86327064592,
 21636.02193334289,
 19032.322660775484,
 20960.743953448575,
 23246.696907961654,
 20012.3495638389,
 6103.06032693517]

In [29]:
k = []
for i in y:
    k.append(i/233)

k

[155.38706835313113,
 187.14373269421336,
 195.47580802852326,
 92.85846323323129,
 81.6837882436716,
 89.96027447832006,
 99.77123136464229,
 85.88991229115408,
 26.193391961095152]

array([105.4       ,  77.625     ,  12.25      ,   0.88297872,
         7.        ,  31.40506329,  48.15151515,  69.33333333,
        29.11111111])